.room_head_button3 {
    box-sizing: border-box;
    position: absolute;
    width: 48px;
    height: 36px;
    left: 0px;
    top: 2px;
    float: right;
    background: #03041F;
    /* White */
    border: 1px solid #FFFFFF;
    border-radius: 6px;
    margin-top: 22px;
}
